<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio - delete Apis</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4341af83a9.js" crossorigin="anonymous"></script>
</head>
<body>
        <h1>Início</h1>
  <div class="img">
  <img src="../images/img.jpeg" alt="" class="img-src">
  <p>
  Olá meu nome é Elison tenho 17 anos e moro em são paulo/brasil este site foi montado e voltado para bots whatsapp. este site contém api de endpoints. Bom é isso não é lá grande coisa mais já é alguma coisa. Agradeço pela visita, Volte sempre.
  </p>
  </div>
  
    <div class ="anc">
    <h1 class="txt"> Delete - Apis </h1>
       <a href="/login"><i class="fa-regular fa-folder"></i> Documentação</a>
       <a href="https://instagram.com/delete7z/"><i class="fa-solid fa-code"></i> Desenvolvedor</a>
    </div>
    <div class="sociais">
    <a href="https://instagram.com/delete7z/"><i class="fa-brands fa-instagram insta"></i></a>
    <a href="https://wa.me/5511911225642"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <p>
    © 2023 delete7z. Todos os direitos reservados.
    </p>
    <script src="/js/scripts.js"></script>
</body>
</html>